<div class="row">
  <div class="col-6">
    {{ include([
      'translate/fields/labels/_' ~ field.vars.name ~ '.html.twig',
      'translate/fields/labels/_default.html.twig'
    ]) }}
  </div>
  <div class="col-6">
    {{ form_widget(field) }}
  </div>
</div>
