{% extends 'base.html.twig' %}

{% block body %}
  <h1 class="mt-5">Pathfinder 1 - Traduction FR (Babele)</h1>

  <p class="lead">Interface web de traduction des fichiers Babele.</p>
{% endblock body %}
