{% extends 'base.html.twig' %}

{% block breadcrumb %}
  {% set entries = [{ label: 'Recherche' }] %}
  {{ parent() }}
{% endblock breadcrumb %}

{% block body %}
  <h1 class="mt-3">Recherche</h1>

  {% if term is not null %}
    <p class="lead">Résultats pour la recherche &laquo;&nbsp;{{ term }}&nbsp;&raquo;.</p>
  {% endif %}

  {{ include('translate/_terms-table.html.twig', {
    display_pack: true,
    redirect: path('app_search', { term: term })
  }) }}
{% endblock body %}
